
@media (max-width:1148px) {
  .header-top {
    padding: 20px 40px;
  }
}



@media (max-width:1024px) {
  html{
    font-size: 40%;
  }
  p{
    font-size: 14px;
  }
  .header-top {
    padding: 10px 20px;
  }
  .navbar ul li a{
    margin: 0 15px;
  }
  section{
    padding: 0px 10px;
  }
  .aboutme .container .col-lg-6 {
    padding: 0px 20px;
  }
  .p-inner .cat {
    font-size: 14px;
  }
  .single-clients-list.owl-carousel .owl-nav{
    display: inline-flex;
    left: 50%;
    gap: 3px;
    top: 100%;
    transform: translateX(-50%);
  }
  .single-clients-list.owl-carousel .owl-nav .owl-prev{
    margin-bottom: 0px;
  }
  .single-clients-list.owl-carousel .owl-nav .owl-prev, .single-clients-list.owl-carousel .owl-nav .owl-next{
    font-size: 14px;
  }
  .footer p, .social-widget a{
    font-size: 16px;
  }
  .input-group input{
    font-size: 14px;
  }
}


 @media (max-width:870px) {
  .navbar{
    display: none;
  }
  .mobile-nav{
    display:inline-block;
    float: right; 
  }
  #toggle i {
    font-size: 28px;
    padding-top: 5px;
  }
  .nav-bar.active{
    opacity: 1;
    visibility: visible;
    left: 0%;
  }
  .nav-bar{
    position: fixed;
    top: 0;
    left: -100%;
    width: 260px;
    background: #222;
    padding-top: 18px;
    bottom: 0;
    z-index: 999;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
    display: block;
  }
  .nav-bar ul{
    list-style: none;
    position: relative;
  }
  .nav-bar ul li{
    padding: 12px 0px;
    position: relative;
  }
  
  .nav-bar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }
  .nav-bar ul li .dropdown{
    background: #222;
    display: none;
    position: static;
    left: 0px;
    top: 0;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
  }
  .nav-bar ul li .dropdown li{
    padding-left: 30px;
  }
  .nav-bar ul li:hover .dropdown{
    display: initial;
    opacity: 1;
    visibility: visible;
  }
  .nav-bar ul li .dropdown li .dropdown{
    background: #222;
    display: none;
    position: static;
    left: 0;
    top: 0;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
    width: 100%;
  }
  .nav-bar ul li .dropdown li:hover .dropdown{
    display: initial;
    opacity: 1;
    visibility: visible;
  }
  .nav-bar ul li .rights{
    display: inline-block;
    float: right;
    padding-right: 40px;
    line-height: 36px;
    font-size: 18px;
  }
  .canvas-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: .2s;
    opacity: .6;
    top: 0;
    left: 0;
  }
  .nav-bar .close{
    font-size: 26px;
    position: fixed;
    z-index: 1;
    color: #000;
    cursor: pointer;
    top: 10px;
    right: 5%;
  }
  .single-clients-item{
    margin-bottom: 10px;
  }
} 


@media (max-width:768px) {
  .header-top {
    padding: 10px 30px;
  }
  .navbar{
    display: none;
  }
  .mobile-nav{
    display:inline-block;
    float: right; 
  }
  #toggle i {
    font-size: 28px;
    padding-top: 5px;
  }
  .nav-bar.active{
    opacity: 1;
    visibility: visible;
    left: 0%;
  }
  .nav-bar{
    position: fixed;
    top: 0;
    left: -100%;
    width: 260px;
    background: #222;
    padding-top: 18px;
    bottom: 0;
    z-index: 999;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
    display: block;
  }
  .nav-bar ul{
    list-style: none;
    position: relative;
  }
  .nav-bar ul li{
    padding: 12px 0px;
    position: relative;
  }
  
  .nav-bar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }
  .nav-bar ul li .dropdown{
    background: #222;
    display: none;
    position: static;
    left: 0px;
    top: 0;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
  }
  .nav-bar ul li .dropdown li{
    padding-left: 30px;
  }
  .nav-bar ul li:hover .dropdown{
    display: initial;
    opacity: 1;
    visibility: visible;
  }
  .nav-bar ul li .dropdown li .dropdown{
    background: #222;
    display: none;
    position: static;
    left: 0;
    top: 0;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
    width: 100%;
  }
  .nav-bar ul li .dropdown li:hover .dropdown{
    display: initial;
    opacity: 1;
    visibility: visible;
  }
  .nav-bar ul li .rights{
    display: inline-block;
    float: right;
    padding-right: 40px;
    line-height: 36px;
    font-size: 18px;
  }
  .canvas-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: .2s;
    opacity: .6;
    top: 0;
    left: 0;
  }
  .nav-bar .close{
    font-size: 26px;
    position: fixed;
    z-index: 1;
    color: #000;
    cursor: pointer;
    top: 10px;
    right: 5%;
  }
  .single-product-area .product-bottom {
    margin-bottom: 30px;
  }
  .post-author{
    display: block;
  }
  .post-author .left{
    padding-bottom: 10px;
  }

}

 @media (max-width:767px) {
  .homepage-img img {
    width: 70%;
  }
  .hompage-content{
    /*margin-top: 100px;*/
  }
  .about-content{
    margin-top: 30px;
  }
} 

@media (max-width:448px) {
  /* .header-top {
    padding: 10px 30px;
  } */
  .portfolio-menu ul li{
    padding: 18px 10px;
  }
  .homepage{
    padding: 100px 20px;
  }
}